/*
#appLayout {
    

  height: 98vh;
  width: 98vw;
}
*/

#header {
  border: 1px solid pink;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#appHeading {
  margin-left: 20px;
}

#header > div > ul {
  display: flex;
  justify-content: space-evenly;
}

#header > div > ul > li {
  list-style-type: none;
  font-size: 20px;

  margin-right: 20px;
}

#body {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0px;
  /* padding: 1px; */
}

#blogCard {
  border: 1px solid cyan;

  /* height: 500px; */
  width: 325px;

  padding: 10px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#body > #blogCard > img {
  width: 330px;
  height: 250px;
}

#body > #blogCard > #dateAndUser {
  margin-top: auto;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid pink;
}

#searchBar {
  padding-top: 10px;
}

#searchBar > #placeInput {
  margin-right: 10px;
  font-size: 20px;
  width: 90%;
}

#searchBar > #subBtn {
  font-size: 20px;
  width: 9%;
}
